{% extends 'base.html.twig' %}

{% block body %}
<section id="presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h1>What is <i>Which One</i> ?</h1>
                <p>This is a website where you can vote for your favorite "face". These faces are just pictures that are organized in categories.</p>
                <p>You can also consult which faces are the best in specific categories.</p>
                <p><b>Be careful</b>, you can only vote if you are register on this webstie !</p>
                <i>Enjoy !</i>
            </div>
        </div>
    </div>
</section>
{% endblock %}
