{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search page</h1>

    {{ form(form) }}
    {% if news %}
        <div class="container">
            <div class="card-columns">
                {% for item in news %}
                    <div class="">
                        <div class="card panel-default ">
                            <div class="card-header">{{ item.title }}</div>
                            <div class="card-body">
                                <img src="{{ asset('uploads/' ~ item.imageName) }}" alt="">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h2>No content</h2>
    {% endif %}
{% endblock %}
